:root {
  --join-tumbnail_124658: #124658;
  --text_ffffff: #ffffff;
  --icon_fd5b4f: #fd5b4f;
  --join_ffffff: #ffffff;
  --dashboard_fd5b4f: #fd5b4f;
  --magnificent-7_ffffff: #ffffff;
  --frame-14_011f35: #011f35;
  --revenue-last-3-years_ffffff: #ffffff;
  --q2-2021_ffffff: #ffffff;
  --q1-2021_ffffff: #ffffff;
  --q3-2021_ffffff: #ffffff;
  --q4-2021_ffffff: #ffffff;
  --q1-2022_ffffff: #ffffff;
  --q2-2022_ffffff: #ffffff;
  --q3-2022_ffffff: #ffffff;
  --q4-2022_ffffff: #ffffff;
  --q1-2023_ffffff: #ffffff;
  --q2-2023_ffffff: #ffffff;
  --q3-2023_ffffff: #ffffff;
  --q4-2023_ffffff: #ffffff;
  --q1-2024_ffffff: #ffffff;
  --90_ffffff: #ffffff;
  --60_ffffff: #ffffff;
  --30_ffffff: #ffffff;
  --0_ffffff: #ffffff;
  --capa_2_ffffff: #ffffff;
  --rectangle-982_39daff: #39daff;
  --meta-8.7_ffffff: #ffffff;
  --rectangle-982_31bfe2: #31bfe2;
  --tesla-5.4_ffffff: #ffffff;
  --rectangle-982_29a5c5: #29a5c5;
  --nvidia-14.7_ffffff: #ffffff;
  --rectangle-982_218aa8: #218aa8;
  --microsoft-17_ffffff: #ffffff;
  --rectangle-982_196f8c: #196f8c;
  --apple-17.7_ffffff: #ffffff;
  --rectangle-982_11546f: #11546f;
  --google-11.5_ffffff: #ffffff;
  --rectangle-982_093a52: #093a52;
  --amazon-9.1_ffffff: #ffffff;
  --frame-11_011f35: #011f35;
  --revenue-breakdown-magnificent-seven_ffffff: #ffffff;
  --vector_196f8c: #196f8c;
  --vector_218aa8: #218aa8;
  --vector_29a5c5: #29a5c5;
  --vector_31bfe2: #31bfe2;
  --vector_39daff: #39daff;
  --vector_093a52: #093a52;
  --vector_11546f: #11546f;
  --vector_011f35: #011f35;
  --in-billion-usd-ttm_ffffff: #ffffff;
  --frame-1286_011f35: #011f35;
  --net-income-ttm_ffffff: #ffffff;
  --20_ffffff: #ffffff;
  --40_ffffff: #ffffff;
  --80_ffffff: #ffffff;
  --100_ffffff: #ffffff;
  --amazon_ffffff: #ffffff;
  --meta_ffffff: #ffffff;
  --alphabet_ffffff: #ffffff;
  --microsoft_ffffff: #ffffff;
  --apple_ffffff: #ffffff;
  --nvidia_ffffff: #ffffff;
  --tesla_ffffff: #ffffff;
  --62.62_ffffff: #ffffff;
  --40.15_ffffff: #ffffff;
  --39.50_ffffff: #ffffff;
  --24.51_ffffff: #ffffff;
  --26.25_ffffff: #ffffff;
  --6.81_ffffff: #ffffff;
  --3.16_ffffff: #ffffff;
  --rectangle-989_39daff: #39daff;
  --rectangle-988_31bfe2: #31bfe2;
  --rectangle-987_29a5c5: #29a5c5;
  --rectangle-986_218aa8: #218aa8;
  --frame-1278_196f8c: #196f8c;
  --rectangle-984_196f8c: #196f8c;
  --rectangle-985_11546f: #11546f;
  --rectangle-983_093a52: #093a52;
  --frame-1287_011f35: #011f35;
  --gross-margin-in-%-lq_ffffff: #ffffff;
  --24.8%_ffffff: #ffffff;
  --24.3%_ffffff: #ffffff;
  --12.7%_ffffff: #ffffff;
  --12.5%_ffffff: #ffffff;
  --12.2%_ffffff: #ffffff;
  --6.2%_ffffff: #ffffff;
  --5.7-%_ffffff: #ffffff;
  --frame-1288_011f35: #011f35;
  --revenue-growth-in-%-yoy_ffffff: #ffffff;
  --70_ffffff: #ffffff;
  --50_ffffff: #ffffff;
  --10_ffffff: #ffffff;
  --rectangle-990_218aa8: #218aa8;
  --rectangle-991_29a5c5: #29a5c5;
  --rectangle-992_31bfe2: #31bfe2;
  --rectangle-993_39daff: #39daff;
  --rectangle-994_218aa8: #218aa8;
  --rectangle-995_29a5c5: #29a5c5;
  --rectangle-996_31bfe2: #31bfe2;
  --rectangle-997_39daff: #39daff;
  --rectangle-998_218aa8: #218aa8;
  --rectangle-999_29a5c5: #29a5c5;
  --rectangle-1000_31bfe2: #31bfe2;
  --rectangle-1001_39daff: #39daff;
  --rectangle-1002_218aa8: #218aa8;
  --rectangle-1003_29a5c5: #29a5c5;
  --rectangle-1004_31bfe2: #31bfe2;
  --rectangle-1005_39daff: #39daff;
  --rectangle-1006_218aa8: #218aa8;
  --rectangle-1007_29a5c5: #29a5c5;
  --rectangle-1008_31bfe2: #31bfe2;
  --rectangle-1009_39daff: #39daff;
  --rectangle-1010_218aa8: #218aa8;
  --rectangle-1011_29a5c5: #29a5c5;
  --rectangle-1012_31bfe2: #31bfe2;
  --rectangle-1013_39daff: #39daff;
  --rectangle-1014_218aa8: #218aa8;
  --rectangle-1015_29a5c5: #29a5c5;
  --rectangle-1016_31bfe2: #31bfe2;
  --rectangle-1017_39daff: #39daff;
  --frame-10_023a62: #023a62;
  --frame-4_011f35: #011f35;
  --capa_1_ffffff: #ffffff;
  --vector_ffffff: #ffffff;
  --revenue-q1-2024_ffffff: #ffffff;
  --38.52_ffffff: #ffffff;
  --+1.06_3ba752: #3ba752;
  --bounding-box_d9d9d9: #d9d9d9;
  --arrow_upward_alt_3ba752: #3ba752;
  --2.83_3ba752: #3ba752;
  --percent_3ba752: #3ba752;
  --in-bill-usd_ffffff: #ffffff;
  --frame-5_011f35: #011f35;
  --logo0_0081fb: #0081fb;
  --435.57_ffffff: #ffffff;
  ---5.81_c41c1c: #c41c1c;
  --arrow_upward_alt_c41c1c: #c41c1c;
  ---1.32_c41c1c: #c41c1c;
  --percent_c41c1c: #c41c1c;
  --frame-9_011f35: #011f35;
  --vector_f35325: #f35325;
  --vector_81bc06: #81bc06;
  --vector_05a6f0: #05a6f0;
  --vector_ffba08: #ffba08;
  --409.05_ffffff: #ffffff;
  --+1.70_3ba752: #3ba752;
  --2.51_3ba752: #3ba752;
  --frame-6_011f35: #011f35;
  --vector_4285f4: #4285f4;
  --vector_34a853: #34a853;
  --vector_fbbc05: #fbbc05;
  --vector_ea4335: #ea4335;
  --google_ffffff: #ffffff;
  --29.87_ffffff: #ffffff;
  --6.04_3ba752: #3ba752;
  --frame-7_011f35: #011f35;
  --vector_ff9900: #ff9900;
  --117.89_ffffff: #ffffff;
  --+4.22_3ba752: #3ba752;
  --2.43_3ba752: #3ba752;
  --frame-8_011f35: #011f35;
  --vector_e82127: #e82127;
  --tsla_ffffff: #ffffff;
  --177.89_ffffff: #ffffff;
  --svg2_ffffff: #ffffff;
  --path21_77b900: #77b900;
  --apr-26-10:34-am-et_ffffff: #ffffff;
  --ellipse-4_39daff: #39daff;
  --frame_ffffff: #ffffff;
  --rectangle-1_39daff: #39daff;
  --the-magnificent-seven-companies_f9f9f9: #f9f9f9;
  --hinweis_ffffff: #ffffff;
  --hinweis:_124658: #124658;
  --für-die-figma-designs,-die-für-die-praxisprojekte-genutzt-werden,-ist-in-der-regel-kein-bearbeitungszugriff-erforderlich._124658: #124658;
  --das-team-der_124658: #124658;
  --text_124658: #124658;
}
