:root {
  /* Farben */
  --color-join-tumbnail_124658: #124658;
  --color-text_ffffff: #ffffff;
  --color-icon_fd5b4f: #fd5b4f;
  --color-join_ffffff: #ffffff;
  --color-dashboard_fd5b4f: #fd5b4f;
  --color-magnificent-7_ffffff: #ffffff;
  --color-frame-14_011f35: #011f35;
  --color-revenue-last-3-years_ffffff: #ffffff;
  --color-q2-2021_ffffff: #ffffff;
  --color-q1-2021_ffffff: #ffffff;
  --color-q3-2021_ffffff: #ffffff;
  --color-q4-2021_ffffff: #ffffff;
  --color-q1-2022_ffffff: #ffffff;
  --color-q2-2022_ffffff: #ffffff;
  --color-q3-2022_ffffff: #ffffff;
  --color-q4-2022_ffffff: #ffffff;
  --color-q1-2023_ffffff: #ffffff;
  --color-q2-2023_ffffff: #ffffff;
  --color-q3-2023_ffffff: #ffffff;
  --color-q4-2023_ffffff: #ffffff;
  --color-q1-2024_ffffff: #ffffff;
  --color-90_ffffff: #ffffff;
  --color-60_ffffff: #ffffff;
  --color-30_ffffff: #ffffff;
  --color-0_ffffff: #ffffff;
  --color-capa_2_ffffff: #ffffff;
  --color-rectangle-982_39daff: #39daff;
  --color-meta-8.7_ffffff: #ffffff;
  --color-rectangle-982_31bfe2: #31bfe2;
  --color-tesla-5.4_ffffff: #ffffff;
  --color-rectangle-982_29a5c5: #29a5c5;
  --color-nvidia-14.7_ffffff: #ffffff;
  --color-rectangle-982_218aa8: #218aa8;
  --color-microsoft-17_ffffff: #ffffff;
  --color-rectangle-982_196f8c: #196f8c;
  --color-apple-17.7_ffffff: #ffffff;
  --color-rectangle-982_11546f: #11546f;
  --color-google-11.5_ffffff: #ffffff;
  --color-rectangle-982_093a52: #093a52;
  --color-amazon-9.1_ffffff: #ffffff;
  --color-frame-11_011f35: #011f35;
  --color-revenue-breakdown-magnificent-seven_ffffff: #ffffff;
  --color-vector_196f8c: #196f8c;
  --color-vector_218aa8: #218aa8;
  --color-vector_29a5c5: #29a5c5;
  --color-vector_31bfe2: #31bfe2;
  --color-vector_39daff: #39daff;
  --color-vector_093a52: #093a52;
  --color-vector_11546f: #11546f;
  --color-vector_011f35: #011f35;
  --color-in-billion-usd-ttm_ffffff: #ffffff;
  --color-frame-1286_011f35: #011f35;
  --color-net-income-ttm_ffffff: #ffffff;
  --color-20_ffffff: #ffffff;
  --color-40_ffffff: #ffffff;
  --color-80_ffffff: #ffffff;
  --color-100_ffffff: #ffffff;
  --color-amazon_ffffff: #ffffff;
  --color-meta_ffffff: #ffffff;
  --color-alphabet_ffffff: #ffffff;
  --color-microsoft_ffffff: #ffffff;
  --color-apple_ffffff: #ffffff;
  --color-nvidia_ffffff: #ffffff;
  --color-tesla_ffffff: #ffffff;
  --color-62.62_ffffff: #ffffff;
  --color-40.15_ffffff: #ffffff;
  --color-39.50_ffffff: #ffffff;
  --color-24.51_ffffff: #ffffff;
  --color-26.25_ffffff: #ffffff;
  --color-6.81_ffffff: #ffffff;
  --color-3.16_ffffff: #ffffff;
  --color-rectangle-989_39daff: #39daff;
  --color-rectangle-988_31bfe2: #31bfe2;
  --color-rectangle-987_29a5c5: #29a5c5;
  --color-rectangle-986_218aa8: #218aa8;
  --color-frame-1278_196f8c: #196f8c;
  --color-rectangle-984_196f8c: #196f8c;
  --color-rectangle-985_11546f: #11546f;
  --color-rectangle-983_093a52: #093a52;
  --color-frame-1287_011f35: #011f35;
  --color-gross-margin-in-%-lq_ffffff: #ffffff;
  --color-24.8%_ffffff: #ffffff;
  --color-24.3%_ffffff: #ffffff;
  --color-12.7%_ffffff: #ffffff;
  --color-12.5%_ffffff: #ffffff;
  --color-12.2%_ffffff: #ffffff;
  --color-6.2%_ffffff: #ffffff;
  --color-5.7-%_ffffff: #ffffff;
  --color-frame-1288_011f35: #011f35;
  --color-revenue-growth-in-%-yoy_ffffff: #ffffff;
  --color-70_ffffff: #ffffff;
  --color-50_ffffff: #ffffff;
  --color-10_ffffff: #ffffff;
  --color-rectangle-990_218aa8: #218aa8;
  --color-rectangle-991_29a5c5: #29a5c5;
  --color-rectangle-992_31bfe2: #31bfe2;
  --color-rectangle-993_39daff: #39daff;
  --color-rectangle-994_218aa8: #218aa8;
  --color-rectangle-995_29a5c5: #29a5c5;
  --color-rectangle-996_31bfe2: #31bfe2;
  --color-rectangle-997_39daff: #39daff;
  --color-rectangle-998_218aa8: #218aa8;
  --color-rectangle-999_29a5c5: #29a5c5;
  --color-rectangle-1000_31bfe2: #31bfe2;
  --color-rectangle-1001_39daff: #39daff;
  --color-rectangle-1002_218aa8: #218aa8;
  --color-rectangle-1003_29a5c5: #29a5c5;
  --color-rectangle-1004_31bfe2: #31bfe2;
  --color-rectangle-1005_39daff: #39daff;
  --color-rectangle-1006_218aa8: #218aa8;
  --color-rectangle-1007_29a5c5: #29a5c5;
  --color-rectangle-1008_31bfe2: #31bfe2;
  --color-rectangle-1009_39daff: #39daff;
  --color-rectangle-1010_218aa8: #218aa8;
  --color-rectangle-1011_29a5c5: #29a5c5;
  --color-rectangle-1012_31bfe2: #31bfe2;
  --color-rectangle-1013_39daff: #39daff;
  --color-rectangle-1014_218aa8: #218aa8;
  --color-rectangle-1015_29a5c5: #29a5c5;
  --color-rectangle-1016_31bfe2: #31bfe2;
  --color-rectangle-1017_39daff: #39daff;
  --color-frame-10_023a62: #023a62;
  --color-frame-4_011f35: #011f35;
  --color-capa_1_ffffff: #ffffff;
  --color-vector_ffffff: #ffffff;
  --color-revenue-q1-2024_ffffff: #ffffff;
  --color-38.52_ffffff: #ffffff;
  --color-+1.06_3ba752: #3ba752;
  --color-bounding-box_d9d9d9: #d9d9d9;
  --color-arrow_upward_alt_3ba752: #3ba752;
  --color-2.83_3ba752: #3ba752;
  --color-percent_3ba752: #3ba752;
  --color-in-bill-usd_ffffff: #ffffff;
  --color-frame-5_011f35: #011f35;
  --color-logo0_0081fb: #0081fb;
  --color-435.57_ffffff: #ffffff;
  --color--5.81_c41c1c: #c41c1c;
  --color-arrow_upward_alt_c41c1c: #c41c1c;
  --color--1.32_c41c1c: #c41c1c;
  --color-percent_c41c1c: #c41c1c;
  --color-frame-9_011f35: #011f35;
  --color-vector_f35325: #f35325;
  --color-vector_81bc06: #81bc06;
  --color-vector_05a6f0: #05a6f0;
  --color-vector_ffba08: #ffba08;
  --color-409.05_ffffff: #ffffff;
  --color-+1.70_3ba752: #3ba752;
  --color-2.51_3ba752: #3ba752;
  --color-frame-6_011f35: #011f35;
  --color-vector_4285f4: #4285f4;
  --color-vector_34a853: #34a853;
  --color-vector_fbbc05: #fbbc05;
  --color-vector_ea4335: #ea4335;
  --color-google_ffffff: #ffffff;
  --color-29.87_ffffff: #ffffff;
  --color-6.04_3ba752: #3ba752;
  --color-frame-7_011f35: #011f35;
  --color-vector_ff9900: #ff9900;
  --color-117.89_ffffff: #ffffff;
  --color-+4.22_3ba752: #3ba752;
  --color-2.43_3ba752: #3ba752;
  --color-frame-8_011f35: #011f35;
  --color-vector_e82127: #e82127;
  --color-tsla_ffffff: #ffffff;
  --color-177.89_ffffff: #ffffff;
  --color-svg2_ffffff: #ffffff;
  --color-path21_77b900: #77b900;
  --color-apr-26-10:34-am-et_ffffff: #ffffff;
  --color-ellipse-4_39daff: #39daff;
  --color-frame_ffffff: #ffffff;
  --color-rectangle-1_39daff: #39daff;
  --color-the-magnificent-seven-companies_f9f9f9: #f9f9f9;
  --color-hinweis_ffffff: #ffffff;
  --color-hinweis:_124658: #124658;
  --color-für-die-figma-designs,-die-für-die-praxisprojekte-genutzt-werden,-ist-in-der-regel-kein-bearbeitungszugriff-erforderlich._124658: #124658;
  --color-das-team-der_124658: #124658;
  --color-text_124658: #124658;

  /* Abstände */
  --spacing-0: 1px;
  --spacing-1: 2px;
  --spacing-2: 4px;
  --spacing-3: 5px;
  --spacing-4: 6px;
  --spacing-5: 8px;
  --spacing-6: 10px;
  --spacing-7: 14px;
  --spacing-8: 16px;
  --spacing-9: 20px;
  --spacing-10: 24px;
  --spacing-11: 32px;
  --spacing-12: 39px;
  --spacing-13: 40px;
  --spacing-14: 49px;
  --spacing-15: 60px;
  --spacing-16: 70px;
  --spacing-17: 72px;
  --spacing-18: 88px;

  /* Typografie */
  --font-size-join: 209px;
  --font-weight-join: 800;
  --line-height-join: 250.8000030517578px;
  --font-size-dashboard: 96px;
  --font-weight-dashboard: 600;
  --line-height-dashboard: 115.20000457763672px;
  --font-size-magnificent-7: 189px;
  --font-weight-magnificent-7: 800;
  --line-height-magnificent-7: 226.8000030517578px;
  --font-size-revenue-last-3-years: 20px;
  --font-weight-revenue-last-3-years: 600;
  --line-height-revenue-last-3-years: 20px;
  --font-size-q2-2021: 8px;
  --font-weight-q2-2021: 400;
  --line-height-q2-2021: 9.479999542236328px;
  --font-size-meta-8.7: 10px;
  --font-weight-meta-8.7: 400;
  --line-height-meta-8.7: 11.84999942779541px;
  --font-size-amazon: 9px;
  --font-weight-amazon: 400;
  --line-height-amazon: 10.664999008178711px;
  --font-size-62.62: 11px;
  --font-weight-62.62: 400;
  --line-height-62.62: 13.03499984741211px;
  --font-size-apple: 20px;
  --font-weight-apple: 500;
  --line-height-apple: 23.69999885559082px;
  --font-size-revenue-q1-2024: 12px;
  --font-weight-revenue-q1-2024: 400;
  --line-height-revenue-q1-2024: 14.219999313354492px;
  --font-size-38.52: 24px;
  --font-weight-38.52: 500;
  --line-height-38.52: 28.439998626708984px;
  --font-size-+1.06: 13px;
  --font-weight-+1.06: 500;
  --line-height-+1.06: 15.404998779296875px;
  --font-size-the-magnificent-seven-companies: 36px;
  --font-weight-the-magnificent-seven-companies: 500;
  --line-height-the-magnificent-seven-companies: 42.659996032714844px;
  --font-size-hinweis:: 64px;
  --font-weight-hinweis:: 800;
  --line-height-hinweis:: 76.80000305175781px;
  --font-size-für-die-figma-designs,-die-für-die-praxisprojekte-genutzt-werden,-ist-in-der-regel-kein-bearbeitungszugriff-erforderlich.: 48px;
  --font-weight-für-die-figma-designs,-die-für-die-praxisprojekte-genutzt-werden,-ist-in-der-regel-kein-bearbeitungszugriff-erforderlich.: 400;
  --line-height-für-die-figma-designs,-die-für-die-praxisprojekte-genutzt-werden,-ist-in-der-regel-kein-bearbeitungszugriff-erforderlich.: 57.60000228881836px;
  --font-size-das-team-der: 36px;
  --font-weight-das-team-der: 400;
  --line-height-das-team-der: 43.20000076293945px;
}
